.main__header {
  display: flex;
  align-items: center;
  background: linear-gradient(#000000, #000000e1);
  height: 10vh;
  z-index: 20;
  width: 100vw;
}
/* nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -190px;
} */
.mannat {
  width: 90px;
  padding: 6px;
  border: 1px solid white;
  margin-left: 30px;
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  transition: all 0.5s ease;
}
.mannat:hover {
  color: black;
  background: white;
}

.nav-links {
  margin-right: 20px;
  padding: -3px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  z-index: 20;
  color: white;
  font-size: 1rem;
}
.icon {
  color: white;
  padding: 8px;
  font-size: large;
}
.links {
  display: flex;
  flex: 8;
  justify-content: flex-end;
}
.nav-links li {
  cursor: pointer;
  z-index: 20;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links li a {
  align-self: flex-end;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links li:hover::after {
  width: 100%;
}
.mainheader__cartIcon {
  height: 24px;
  color: white;
}
.mainheader__CartCount {
  color: black;
  margin: 0px 10px;
  text-decoration: none !important;
  border-radius: 300px;
  padding: 5px;
  background-color: lightgray;
  margin: 4px;
}
